.logoIcon {
  font-size: 3.5em;
  width: 2em;
  margin-bottom: 0.5em;
}
.head-title {
  margin-top: 1em;
  font-size: 1.7em;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
}