:root {
	overflow-x: hidden;
	overflow-y: auto;
	min-width: 100vw;
	width: 100%;
	height: 100%;
}
.App {
  min-width: 100vw;
	width: 100%;
	min-height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
	height: 100%;
  overflow-x:hidden;
}
img {
  image-rendering: pixelated;
	height: 100%;
}
.body{
	width: 100%;
  min-height: 100%;
  background-image: url("2.jpg");
  background-position: center;
  background-repeat: repeat;
  background-size: contain;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar
{
	width: 15px;
}

::-webkit-scrollbar-thumb
{
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, #243743),
									   color-stop(0.86, #243743));
}

