.Login {
  justify-content: space-between;   
  display: flex;
  align-items: center;
  background-color: #F5FFFA;
  width: 100%;
  min-height: 90vh;
  text-align: center;
}
.user-log-in {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
  margin-bottom: 15em;
  margin-right: 17em;
  border: 5px solid #30415D;
  border-radius: 10px;
 /* box-shadow: 60px -16px rgb(230, 213, 188); */
  background-color: #f5eee9;
}
.Login img{
  width: 40%;
  height: 60%;
  image-rendering: pixelated;
  margin-left: 0;
}
.user-log-in h2{
  padding-top: 10px;
  text-align: center;
  color: #30415D;
  font-weight: bold;
  font-size: 40px;
  font-family: 'Raleway', sans-serif;
}
.Form-login {
  display:flex;
  justify-content: space-between;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 70vw;
  width: 100%;
  text-align: center;
}
.section {
  min-height: 80px;
  width: 85%;
  text-align: left;
  background-color: #85586F;
  border-radius: 15px;
  padding: 5px 5px 0 15px;
  display: flex;
  flex-direction: column;
}
.section .email,
.section .password,
.section .name,
.section .username {
  border: none;
  border-radius: 15px;
  min-height: 50px;
  width: 90%;
  padding: 5px 5px 0px 25px;
  margin-bottom: 0.5em;
  background-color: white;
  opacity: 0.6;
}
.section .email:focus,
.section .password:focus,
.section .name:focus
.section .username:focus {
  outline: 0;
}
.Form-login label,
.Form-register label  {
  color:#f5eee9;
  padding-bottom: 10px;
  padding-top: 5px;
  font-weight: bold;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  padding-left: 3px;
}
.Login input[type="password"]::placeholder,
.Login input[type="email"]::placeholder,
.Login input[type="password"],
.Login input[type="email"] {
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  z-index: 1;
  font-family: 'Raleway', sans-serif;
  color: #30415D;
  outline: 0;
}
.login-btn button {
  font-family: 'Raleway', sans-serif;
  font-size: 1.1em;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  width: 9em;
  height: 3em;
  background-color: #30415D;
  color: white;
  margin-top: 0.6em;
  margin-bottom: 1em;
  align-items: center;
  cursor: pointer;
}
.user-log-in 
.profile-icon {
 margin-top: 1.2em;
  font-size: 2.5em;
  color: #30415D;
}
