.posts {
  min-width: 100vw;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 90vh;
  margin: 0 auto;
}
.post-top {
  width: 100%;
  margin-top: 0.8em;
  height: 10em;
  justify-content: center;
  padding-top: 1em;
  background-color: #fcd1ac;
}
.post-bottom .second-hr {
  width: 80vw;
}
.post-bottom {
  margin-bottom: 2.3em;
  margin-right: 5em;
  min-height: 100%;
  justify-content: left;
}
.post-top h2 {
  padding-top: 10px;
  text-align: center;
  color: #30415d;
  font-weight: bold;
  font-size: 29px;
  font-family: "Raleway", sans-serif;
}
.authorAndDate {
  justify-content: space-evenly;
  width: 35em;
  display: flex;
  padding-top: 0.7em;
  margin: auto;
  padding-bottom: 1em;
  font-weight: bold;
  font-size: 1.4em;
  font-family: "Raleway", sans-serif;
  color: #30415d;
}
.postWithFirstLetter {
  width: 100%;
  max-width: 82em;
  margin: auto;
  padding-bottom: 2em;
  padding-top: 2em;
  display: flex;
  justify-content: center;
}
.postText {
  display: flex;
  justify-content: space-between;
  font-family: "Raleway", sans-serif;
  color: #30415d;
  min-width: 60em;
  width: 100%;
  border: 4px solid #30415d;
  border-radius: 30px;
  min-height: 15em;
  height: 100%;
  padding: 30px 15px;
  text-align: justify;
  background-color: #f5eee9;
  flex-wrap: wrap;

  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}
.postText .content {
  text-align: justify;
  margin: 20px 30px 50px 30px;
  height: 80%;
  display: flex;
  flex-direction: column;
  font-size: 19px;
  width: 100%;
  font-family: "Raleway", sans-serif;
  color: #30415d;
  font-size: 1.3em;
  border: none;
}
.posts .auth {
  margin: auto;
  margin-right: 30px;
}
.editTextareaContent,
.editTextareaTags {
  background-color: #f5eee9;
  border: none;
  width: 100%;
  font-size: 1.2em;
}
.postText #tag {
  width: 100%;
  text-align: left;
  margin-bottom: 0px;
  border: none;
  height: 30px;
  font-weight: bold;
  font-size: 1.2em;
}
.posts .delete-icon,
.posts .save-icon {
  padding: 10px;
  color: #30415d;
  cursor: pointer;
  width: 30px;
  height: 30px;
}
.blockTags-DeleteIcon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 94%;
  height: 20%;
  margin: auto;
  margin-bottom: 0;
}
.savebtn {
  background-color: #f5eee9;
}
.all-comments {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 50%;
  margin: auto;
  border-radius: 10px;
  margin-bottom: 3em;
  padding: 3em 3em 0em 3em;
}
