.saveButtonForEditComment {
  background: transparent;
  border: none;
  height: auto;
  outline: none;
  font-family: 'Raleway', sans-serif;
  color: #30415D;
  font-size: 1.5em;
  width: 90%;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.post-icon-comment{
  font-size: 1.2em;
  display: flex;
  justify-content: right;
}
.comment-text .save-icon,
.comment-text .edit-icon,
.comment-text .delete-icon {
  padding: 6px;
  color: #30415D;
  font-size: 1.2em;
  cursor: pointer;
}
