@import "../../App.css";

.Header {
  height: 11em;
  width: 100vw;
  width: 100%;
  min-width: 76em;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  background-color: #f5f5f5;
  z-index: 1;
}

.left-section {
  display: flex;
  justify-content: flex-start;
  width: 40em;
}

.Header .right-section {
  text-align: center;
  display: flex;
  margin-right: 3em;
  width: 500px;
  justify-content: flex-end;
  padding-right: 15px;
}

.logo-section {
  display: flex;
  margin: 50px;
  color: rgb(11, 52, 92);
}
