.Search-user {
  margin-top: 6em;
  margin-bottom: 4em;
  width: 100%;
  min-height: 100vh;
}

.search-user-header {
  display: flex;
  margin: 0 auto;
  width: 70%;
  min-height: 100%;
  background-color: #85586F;

  border-radius: 10px;
  justify-content: space-between;
}

.search-user-section {
  display: flex;
  margin: auto;
  margin-left: 4em;
  margin-right: 1em;
  align-items: center;
  justify-content: space-between;
  font-size: 1.3em;
  width: 40%;
  height: 2.2em;

  background-color: white;
  border-radius: 15px;
  align-items: center;
  opacity: 0.4;  
}

.search-user-section input[type="search"] {
  font-size: 1em;
}

.search-user-section .search-button {
  color: #30415D;
}

.search-user-bar {
  width: 100%;
  border-radius: 15px;
  border: none;
  padding: 5px 5px 5px 25px;

  transition: all 0.4s ease-in-out;
}

.search-user-title {
  font-weight: bold;
  font-size: 1.2em;
  margin-right: 3em;
  margin: 0;
  padding-left: 2.5em;
  font-family: 'Raleway', sans-serif;
  color: white;
}

.body-all-users {
  width: 65%;
  justify-content: center;   
  align-items: center;
  background-color: #f5eee9;
  padding: 5em 3em 2em 3em;
  margin: auto;
  margin-top: 4em;
  border-radius: 15px;
  min-height: 75vh;
}

.Search-user .pagination {
  margin-top: 3em;
}

.each-user {
  display: flex;
  justify-content: space-between;
  border: 3px solid #85586F;
  border-radius: 10px;
  padding: 20px 15px 5px 15px;
  margin-bottom: 1.5em;
  margin-top: 0.5em;
  background-color:white;
  text-align: center;

  height: 4.5em;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  font-weight: bold;
  padding-bottom: 20px;
}

.user-content {
  display: flex;
}

.user-index {
  width: 2em;
  align-self: center;
   font-weight: bold;
   font-size: 1.2em;

  margin-right: 3em;
  margin: 0;
  padding-left: 2.5em;
  font-family: 'Raleway', sans-serif;
  color: black;
  margin-left: -50px;
  margin-right: 100px;
}
.each-user .avatar {
  display:flex;
  width: 12em;
  height: 100%;
}
.each-user .avatar-icon,
.each-user img {
  margin-bottom: 15em;
}

.each-user .avatar .photoSearchUser{
  margin-bottom: 100px;
  font-size: 10px;
}

.each-user-username {
  margin-left: 1em;
  font-size: 1.2em;
}

.each-user-role {
  padding-left: 5em;
}

.each-user-username{
  font-family: 'Raleway', sans-serif;
  margin-top: 1.5em;
  width: 5em;
}
.user-email,
.user-text-names,
.each-user-role  {
  font-family: 'Raleway', sans-serif;
  margin-top: 1.5em;
  width: 12em;
  font-size: 1.2em;
  text-align: left;
}

.user-email {
  padding-left: 3em;
}

.user-head-menu {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-left: 1.5em;
  font-size: 1.2em;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: #30415D;
}

.each-user button {
  background-color: white;
  color: red;
  cursor: pointer;
  border: none;
  font-size: 1.2em;
  margin-bottom: 1.5em;
}

.unblocked {
  color: green;
  cursor: pointer;
  border: none;
  font-size: 1.2em;
  margin-bottom: 1.5em;
}
