.Footer {
  height: 3em;
  width: 100%;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  display: flex;
  width: 100vw;
  padding: 2em;
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fbe8a6;
}

.rules-text {
  text-decoration: none;
  padding: 30px solid;
  margin-right: 0.5em;
  font-size: 1.3em;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  align-items: center;
  color: #30415d;
}
.rules-icon {
  font-size: 30px;
  cursor: pointer;
  align-items: center;
  text-decoration: none;
  color: black;
  margin-top: 0.2em;
}
